
.main{
    justify-content: center;
    display: flex;
    align-items: center;
}


form{
    font-weight: bolder;
    width: 350px;
    margin: 25vh;
    font-size: 40px;
}

label{
    color: white;
}

input{
    height: 50px;
    width: 300px;
    border-radius: 5px;
}

button {
    font-size: 23px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: radial-gradient(rgb(162, 236, 162), rgb(236, 236, 157), rgb(177, 177, 234));
    height: 55px;
    width: 25vw;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: 8px;
    cursor: pointer;
    
}